nav {
    background-color: silver;
    color: navy;
    font-size: 18px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

h1 {
    color: navy;
    font-family: cursive;
    font-size: 60px;
    text-align: center;
}

img {
    height: 100px;
    margin: 25px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    font-family: 'trebuchet MS';
    font-size: 20px;
    max-width: 100px;
    justify-content: space-between;
    margin-left: 100px;
}

.lake {
    height: 100px;
    padding-right: 50px;
}

.sunrise {
    height: 100px;
    padding-right: 50px;
}

.bay {
    height: 100px;
}

.shannon {
    padding-top: 150px;
    padding-right: 50px;
}

.zero {
    padding-top: 150px;
    padding-right: 50px;
}

.room {
    padding-top: 150px;
    padding-right: 50px;
}
